<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Site made with ketivee donation v5.9.18, https://mobirise.com -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Mobirise v5.9.18, mobirise.com">
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image:src" content="assets/images/index-meta.png">
    <meta property="og:image" content="assets/images/index-meta.png">
    <meta name="twitter:title" content="Sarthi Development Program">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
    <meta name="description"
        content="Contribute to the SarthiAI development program and enhance education, agriculture, space exploration, 3D design, and medical problem-solving capabilities.">


    <title>Sarthi Development Program</title>
    <link rel="stylesheet" href="assets/web/assets/mobirise-icons2/mobirise2.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="assets/parallax/jarallax.css">
    <link rel="stylesheet" href="assets/web/assets/gdpr-plugin/gdpr-styles.css">
    <link rel="stylesheet" href="assets/dropdown/css/style.css">
    <link rel="stylesheet" href="assets/socicon/css/styles.css">
    <link rel="stylesheet" href="assets/theme/css/style.css">
    <link rel="preload"
        href="https://fonts.googleapis.com/css?family=Outfit:100,200,300,400,500,600,700,800,900&display=swap"
        as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Outfit:100,200,300,400,500,600,700,800,900&display=swap">
    </noscript>
    <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css?v=436Qof">
    <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css?v=436Qof" type="text/css">




</head>

<body>

    <section data-bs-version="5.1" class="menu menu2 cid-uu5jIAvoC9" once="menu" id="menu-5-uu5jIAvoC9">


        <nav class="navbar navbar-dropdown navbar-expand-lg">
            <div class="container">
                <div class="navbar-brand">


                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse"
                    data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav nav-dropdown nav-right navbar-nav-top-padding" data-app-modern-menu="true">
                        <li class="nav-item">
                            <a class="nav-link link text-white text-primary display-4" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link text-white text-primary display-4" href="about"
                                aria-expanded="false">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link text-white text-primary display-4" href="donation">Donate</a>
                        </li>
                    </ul>


                </div>
            </div>
        </nav>
    </section>

    <section data-bs-version="5.1" class="header16 cid-uu5jIAwFvD mbr-fullscreen"
        data-bg-video="https://vimeo.com/1029764960?share=copy#t=0" id="hero-17-uu5jIAwFvD">


        <div class="container-fluid">
            <div class="row">
                <div class="content-wrap col-12 col-md-3">
                    <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-4 display-1">
                        <strong>Let's create SarthiAI</strong>
                    </h1>

                    <p class="mbr-fonts-style mbr-text mbr-white mb-4 display-7">Empower our world with new echo system
                        of AI</p>
                    <div class="mbr-section-btn"><a class="btn btn-info-outline display-7" href="donation">Donate
                            Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="people03 cid-uu5jIAwQ4j" id="team-1-uu5jIAwQ4j">


        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 content-head">
                    <div class="mbr-section-head mb-5">
                        <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                            <strong>Goal</strong>
                        </h4>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="item features-image col-12 col-md-6 col-lg-3">
                    <div class="item-wrapper">
                        <div class="item-img mb-3">
                            <img src="assets/images/girl-with-ai065-838x559.webp" alt="ketivee donation" title="">
                        </div>
                        <div class="item-content align-left">
                            <h5 class="item-title mbr-fonts-style display-5"><strong>Improve Learning</strong></h5>
                            <h6 class="item-subtitle mbr-fonts-style mb-3 display-7">With SarthiAI</h6>

                        </div>

                    </div>
                </div>
                <div class="item features-image col-12 col-md-6 col-lg-3">
                    <div class="item-wrapper">
                        <div class="item-img mb-3">
                            <img src="assets/images/20240808120821banner1200.627.jpg6-838x438.webp"
                                alt="ketivee donation" title="">
                        </div>
                        <div class="item-content align-left">
                            <h5 class="item-title mbr-fonts-style display-5"><strong>Fix space problem</strong></h5>
                            <h6 class="item-subtitle mbr-fonts-style mb-3 display-7">By improve our satellites&nbsp;
                            </h6>

                        </div>

                    </div>
                </div>
                <div class="item features-image col-12 col-md-6 col-lg-3">
                    <div class="item-wrapper">
                        <div class="item-img mb-3">
                            <img src="assets/images/hfedgg3dfrds-838x479.webp" alt="ketivee donation" title="">
                        </div>
                        <div class="item-content align-left">
                            <h5 class="item-title mbr-fonts-style display-5"><strong>Create 3d design</strong></h5>
                            <h6 class="item-subtitle mbr-fonts-style mb-3 display-7">With help of Yug and Aadi</h6>

                        </div>

                    </div>
                </div>
                <div class="item features-image col-12 col-md-6 col-lg-3">
                    <div class="item-wrapper">
                        <div class="item-img mb-3">
                            <img src="assets/images/1631005553phpt2mjok-638x400.webp" alt="ketivee donation" title=""
                                data-slide-to="3" data-bs-slide-to="3">
                        </div>
                        <div class="item-content align-left">
                            <h5 class="item-title mbr-fonts-style display-5"><strong>Fix&nbsp;Agriculture</strong></h5>
                            <h6 class="item-subtitle mbr-fonts-style mb-3 display-7">Easy to understand plant problems
                            </h6>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="features028 cid-uu8djMOhMi" id="features028-1">



        <div class="mbr-overlay" style="opacity: 0.9; background-color: rgb(0, 0, 0);"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 content-head mb-5">
                    <h1 class="mbr-section-title mbr-fonts-style mb-0 display-2"><strong>Improve in education
                            system</strong></h1>

                </div>
            </div>


            <div class="row justify-content-center  blockContent">

                <div class="col-12 col-lg">


                    <div class="item features-without-image col-12 col-md-12 col-lg-12 active">
                        <div class="item-wrapper">
                            <div class="item-content">


                                <p class="card-text mbr-fonts-style mt-0 mb-0 display-7">Empower the education with help
                                    of SarthiAI and
                                    ParthAI&nbsp; to improve student problem solving skill.
                                </p>

                            </div>

                        </div>
                    </div>
                    <div class="item features-without-image col-12 col-md-12 col-lg-12">
                        <div class="item-wrapper">
                            <div class="item-content">


                                <p class="card-text mbr-fonts-style mt-0 mb-0 display-7">Give students power of AI to
                                    improve their
                                    memory and learning technique to outstand in their school life.</p>

                            </div>

                        </div>
                    </div>
                    <div class="item features-without-image col-12 col-md-12 col-lg-12">
                        <div class="item-wrapper">
                            <div class="item-content">


                                <p class="card-text mbr-fonts-style mt-0 mb-0 display-7">Use real time content
                                    generation to tech
                                    students. By help of AAdi, Yug, and ArthAI.</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="image-wrapper">
                        <img class="w-100" src="assets/images/blended-learning-1256x838.webp" alt="ketivee">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="start article01 cid-uu8jmZl8M7 mbr-fullscreen mbr-parallax-background"
        id="article01-3">



        <div class="mbr-overlay" style="opacity: 100; background-color: rgb(0, 0, 0);"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="card col-md-12 col-lg-12">
                    <div class="card-wrapper">
                        <div class="row">
                            <div class="image-wrapper col-12 col-sm-6 justify-content-center">
                                <img src="assets/images/lizzie-sat.webp" alt="ketivee donation">
                            </div>
                            <div class="image-wrapper col-12 col-sm-6 justify-content-center">
                                <img src="assets/images/img-aptopix-india-lunar-2-1-30bg53a7-1200x675.webp"
                                    alt="ketivee donation">
                            </div>
                        </div>

                        <div class="card-box align-left mb-3 card-content-text">
                            <h4 class="card-title mbr-fonts-style mbr-white mb-0 display-5"><strong>Improve
                                    satellites&nbsp;</strong>
                            </h4>
                            <p class="mbr-text mbr-fonts-style mt-3 mb-0 display-7">We want to fix issue with our
                                current satellites
                                communication between earth. A major space mission fail to space So, using space cube to
                                improve it. Use
                                SarthiAI to&nbsp; simulate the situation of space and fix issue with less loss of our
                                money and
                                time.&nbsp;</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="news06 cid-uu8qxUGR55" id="news06-4">





        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 mb-5 content-head">
                    <h3 class="mbr-fonts-style align-center mb-0 mbr-section-maintitle display-2"><strong>3D
                            Design</strong></h3>

                </div>
            </div>
            <div class="row justify-content-center align-items-center item features-image">
                <div class="col-12 ">
                    <div class="item-wrapper">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-7 image-wrapper">
                                <img class="w-100"
                                    src="assets/images/6-skills-you-need-to-thrive-as-a-game-developer-1256x705.webp"
                                    alt="ketivee donation" data-slide-to="0" data-bs-slide-to="0">
                            </div>
                            <div class="col-12 col-lg col-md-12">
                                <div class="text-wrapper align-left">
                                    <h5 class="mbr-section-title mbr-fonts-style mb-3 display-5">
                                        <strong>Create new way to design</strong>
                                    </h5>

                                    <p class="mbr-text mbr-fonts-style mb-3 display-7">
                                        Give 3d artist new way to design 3d environment. Using SarthiAI to save time and
                                        money to use in
                                        their project.<br>Create new branches in 3d design and
                                        animation.<br><br>SarthiAI, combined with
                                        ParthAI, introduces a transformative way for 3D artists to design environments
                                        and animations,
                                        offering unparalleled efficiency and creativity directly within their favorite
                                        design
                                        software.<br><br></p>
                                    <div class="mbr-section-btn mt-3"><a class="btn btn-lg btn-white display-7"
                                            href="https://docs.ketivee.com/"><span
                                                class="mobi-mbri mobi-mbri-arrow-down mbr-iconfont mbr-iconfont-btn"></span>
                                            Learn more
                                        </a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center align-items-center item features-image">
                <div class="col-12">
                    <div class="item-wrapper">
                        <div class="row">
                            <div class="col-12 col-md-12 col-lg-7 image-wrapper">
                                <img class="w-100" src="assets/images/3d-animation-training-28-02-2024-800x500.webp"
                                    alt="ketivee donation" data-slide-to="2" data-bs-slide-to="2">
                            </div>
                            <div class="col-12 col-lg col-md-12">
                                <div class="text-wrapper align-left">
                                    <h5 class="mbr-section-title mbr-fonts-style mb-3 display-5">
                                        <strong>How it's work</strong>
                                    </h5>

                                    <p class="mbr-text mbr-fonts-style mb-3 display-7">By interrogating Aadi and Yug,
                                        SarthiAI can create
                                        custom 3D assets and apply textures on-the-fly, optimizing them for different
                                        platforms (games,
                                        film, AR/VR). Designers can quickly prototype or iterate on multiple assets in
                                        real-time, reducing
                                        the need for manual adjustments. This leads to a new branch of 3D design focused
                                        on real-time,
                                        AI-driven asset creation, enabling faster project iterations and more
                                        interactive feedback loops.
                                    </p>
                                    <div class="mbr-section-btn mt-3"><a class="btn btn-lg btn-white display-7"
                                            href="https://docs.ketivee.com/"><span
                                                class="mobi-mbri mobi-mbri-arrow-down mbr-iconfont mbr-iconfont-btn"></span>Learn
                                            more</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="article2 cid-uu5jIAzbcF" id="about-us-2-uu5jIAzbcF">





        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 col-md-12 col-lg-5 image-wrapper">
                    <img class="w-100"
                        src="assets/images/bp-ai-in-agriculture-the-future-of-farming-body-im-3-770x450.webp"
                        alt="ketivee donation">
                </div>
                <div class="col-12 col-md-12 col-lg">
                    <div class="text-wrapper align-left">
                        <h1 class="mbr-section-title mbr-fonts-style mb-4 display-2"><strong>AI in Agriculture and
                                Farming:
                                Revolutionizing Crop Growth</strong></h1>
                        <p class="mbr-text align-left mbr-fonts-style mb-3 display-7">With help of SarthiAI we can read
                            and monitor
                            plant health and give them<br>desire treatment.</p>

                        <p class="mbr-text align-left mbr-fonts-style mb-3 display-7">Find new plant species to help
                            farmer get more
                            profit and improve<br>their financial condition.</p>

                        <p class="mbr-text align-left mbr-fonts-style mb-3 display-7">By integrating SarthiAI farmer
                            also get new
                            tips to improve their crops.<br>Also monthly soil report help farmer to treat their soil
                            with wating&nbsp;
                        </p>


                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="start article4 cid-uue1wmf1pB" id="article04-9">





        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 col-md-12 col-lg-6 image-wrapper">
                    <img class="w-100" src="assets/images/medical-technologies-1024x585.webp" alt="ketivee donation">
                </div>
                <div class="col-12 col-md-12 col-lg">
                    <div class="text-wrapper align-left">
                        <h1 class="mbr-section-title mbr-fonts-style mb-4 display-2">Use <strong>VedAI</strong> for
                            medical</h1>
                        <p class="mbr-text mbr-fonts-style mb-4 display-7">Use VedAI to analyze mental health patients
                            to give them
                            treatment that they<br>need. Using AI we can also emulate the situation by advance face
                            recognition<br>to
                            understand the patient to give treatment. Use deed learning to improve<br>communication
                            between AI and
                            human.&nbsp;&nbsp;</p>
                        <div class="mbr-section-btn mt-3"><a class="btn btn-lg btn-secondary-outline display-7"
                                href="assets/files/VedAI-working.pdf">Read More</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="list1 cid-uu5jIAz4YF" id="faq-1-uu5jIAz4YF">


        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-12 col-lg-10 m-auto">
                    <div class="content">
                        <div class="row justify-content-center mb-5">
                            <div class="col-12 content-head">
                                <div class="mbr-section-head">
                                    <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                                        <strong>Your Questions, Our Answers!</strong>
                                    </h4>

                                </div>
                            </div>
                        </div>
                        <div id="bootstrap-accordion_19" class="panel-group accordionStyles accordion" role="tablist"
                            aria-multiselectable="true">
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <a role="button" class="panel-title collapsed" data-toggle="collapse"
                                        data-bs-toggle="collapse" data-core="" href="#collapse1_19"
                                        aria-expanded="false" aria-controls="collapse1">
                                        <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">Can I
                                            donate money or
                                            skills?</h6>
                                        <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                    </a>
                                </div>
                                <div id="collapse1_19" class="panel-collapse noScroll collapse" role="tabpanel"
                                    aria-labelledby="headingOne" data-parent="#accordion"
                                    data-bs-parent="#bootstrap-accordion_19">
                                    <div class="panel-body">
                                        <p class="mbr-fonts-style panel-text display-7">Absolutely! We welcome both
                                            financial contributions
                                            and knowledge sharing. Every bit helps!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <a role="button" class="panel-title collapsed" data-toggle="collapse"
                                        data-bs-toggle="collapse" data-core="" href="#collapse2_19"
                                        aria-expanded="false" aria-controls="collapse2">
                                        <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">How
                                            will my donation be
                                            used?</h6>
                                        <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                    </a>
                                </div>
                                <div id="collapse2_19" class="panel-collapse noScroll collapse" role="tabpanel"
                                    aria-labelledby="headingOne" data-parent="#accordion"
                                    data-bs-parent="#bootstrap-accordion_19">
                                    <div class="panel-body">
                                        <p class="mbr-fonts-style panel-text display-7">Your generosity fuels our
                                            projects in education,
                                            agriculture, and more!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <a role="button" class="panel-title collapsed" data-toggle="collapse"
                                        data-bs-toggle="collapse" data-core="" href="#collapse3_19"
                                        aria-expanded="false" aria-controls="collapse3">
                                        <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">Is my
                                            donation
                                            tax-deductible?</h6>
                                        <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                    </a>
                                </div>
                                <div id="collapse3_19" class="panel-collapse noScroll collapse" role="tabpanel"
                                    aria-labelledby="headingOne" data-parent="#accordion"
                                    data-bs-parent="#bootstrap-accordion_19">
                                    <div class="panel-body">
                                        <p class="mbr-fonts-style panel-text display-7">Yes, donations are
                                            tax-deductible. Keep those
                                            receipts!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <a role="button" class="panel-title collapsed" data-toggle="collapse"
                                        data-bs-toggle="collapse" data-core="" href="#collapse4_19"
                                        aria-expanded="false" aria-controls="collapse4">
                                        <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">Can I
                                            volunteer my time?
                                        </h6>
                                        <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                    </a>
                                </div>
                                <div id="collapse4_19" class="panel-collapse noScroll collapse" role="tabpanel"
                                    aria-labelledby="headingOne" data-parent="#accordion"
                                    data-bs-parent="#bootstrap-accordion_19">
                                    <div class="panel-body">
                                        <p class="mbr-fonts-style panel-text display-7">Of course! We love passionate
                                            volunteers. Join us!
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <a role="button" class="panel-title collapsed" data-toggle="collapse"
                                        data-bs-toggle="collapse" data-core="" href="#collapse5_19"
                                        aria-expanded="false" aria-controls="collapse5">
                                        <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">How do
                                            I stay updated?</h6>
                                        <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                    </a>
                                </div>
                                <div id="collapse5_19" class="panel-collapse noScroll collapse" role="tabpanel"
                                    aria-labelledby="headingOne" data-parent="#accordion"
                                    data-bs-parent="#bootstrap-accordion_19">
                                    <div class="panel-body">
                                        <p class="mbr-fonts-style panel-text display-7">Subscribe to our newsletter for
                                            the latest news!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <a role="button" class="panel-title collapsed" data-toggle="collapse"
                                        data-bs-toggle="collapse" data-core="" href="#collapse6_19"
                                        aria-expanded="false" aria-controls="collapse6">
                                        <h6 class="panel-title-edit mbr-semibold mbr-fonts-style mb-0 display-5">How
                                            many total AI model's
                                            in this project?</h6>
                                        <span class="sign mbr-iconfont mobi-mbri-arrow-down"></span>
                                    </a>
                                </div>
                                <div id="collapse6_19" class="panel-collapse noScroll collapse" role="tabpanel"
                                    aria-labelledby="headingOne" data-parent="#accordion"
                                    data-bs-parent="#bootstrap-accordion_19">
                                    <div class="panel-body">
                                        <p class="mbr-fonts-style panel-text display-7">The Sarthi AI project includes
                                            six AI models: five
                                            for browser-based applications and one for offline use. This blend of online
                                            and offline
                                            functionality caters to diverse user needs.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="features03 cid-uu5jIADdLH" id="news-1-uu5jIADdLH">


        <div class="container-fluid">
            <div class="row justify-content-center mb-5">
                <div class="col-12 content-head">
                    <div class="mbr-section-head">
                        <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                            <strong>Latest Buzz from Ketivee</strong>
                        </h4>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="item features-image col-12 col-md-6 col-lg-3 active">
                    <div class="item-wrapper">
                        <div class="item-img mb-3">
                            <img src="assets/images/ai-and-mental-health-838x419.webp" alt="ketivee donation" title="">
                        </div>
                        <div class="item-content align-left">
                            <h5 class="item-title mbr-fonts-style mt-0 mb-2 display-5"><strong>Research on
                                    face</strong><br><strong>recognize and emotion</strong><br></h5>
                            <p class="mbr-text mbr-fonts-style mb-3 display-7">November 1, 2024</p>
                            <p class="mbr-text mbr-fonts-style mb-3 display-7">We researching on SarthiAI to
                                interrogate<br>with VedAI
                                to understand patients and<br>give them desire treatment. Also a healthy<br>relation
                                between ai and
                                human!</p>
                            <div class="mbr-section-btn item-footer"><a href="http://docs.ketivee.com"
                                    class="btn item-btn btn-primary display-7">Learn</a></div>
                        </div>
                    </div>
                </div>
                <div class="item features-image col-12 col-md-6 col-lg-3">
                    <div class="item-wrapper">
                        <div class="item-img mb-3">
                            <img src="assets/images/2-space-838x503.webp" alt="ketivee donation" title=""
                                data-slide-to="1" data-bs-slide-to="1">
                        </div>
                        <div class="item-content align-left">
                            <h5 class="item-title mbr-fonts-style mb-2 mt-0 display-5">
                                <strong>Crazy did you know</strong>
                            </h5>
                            <p class="mbr-text mbr-fonts-style mb-3 display-7">November 5, 2024</p>
                            <p class="mbr-text mbr-fonts-style mb-3 display-7">Hey! you all know there are billions of
                                rogue planets
                                in the Milky Way, floating in space without orbiting a star!</p>
                            <div class="mbr-section-btn item-footer"><a href="http://docs.ketivee.com"
                                    class="btn item-btn btn-primary display-7">Learn</a></div>
                        </div>
                    </div>
                </div>
                <div class="item features-image col-12 col-md-6 col-lg-3">
                    <div class="item-wrapper">
                        <div class="item-img mb-3">
                            <img src="assets/images/critical-thinking.jpg.webp" alt="ketivee donation" title=""
                                data-slide-to="2" data-bs-slide-to="2">
                        </div>
                        <div class="item-content align-left">
                            <h5 class="item-title mbr-fonts-style mb-2 mt-0 display-5">
                                <strong>Reasoning&nbsp;solution</strong><br>
                            </h5>
                            <p class="mbr-text mbr-fonts-style mb-3 display-7">November 10, 2024</p>
                            <p class="mbr-text mbr-fonts-style mb-3 display-7">We try to improve Sarthi Reasoning
                                solving capabilities
                                to achieve that&nbsp;<br>we need some help!</p>
                            <div class="mbr-section-btn item-footer"><a href="http://docs.ketivee.com"
                                    class="btn item-btn btn-primary display-7">Learn</a></div>
                        </div>
                    </div>
                </div>
                <div class="item features-image col-12 col-md-6 col-lg-3">
                    <div class="item-wrapper">
                        <div class="item-img mb-3">
                            <img src="assets/images/1680981775461-838x469.webp" alt="ketivee donation" title=""
                                data-slide-to="2" data-bs-slide-to="2">
                        </div>
                        <div class="item-content align-left">
                            <h5 class="item-title mbr-fonts-style mb-2 mt-0 display-5">
                                <strong>3D Design Workshop</strong>
                            </h5>
                            <p class="mbr-text mbr-fonts-style mb-3 display-7">November 12, 2024</p>
                            <p class="mbr-text mbr-fonts-style mb-3 display-7">We finding way to make 3d
                                generation<br>more accurate
                                and stable use Yug and AAdi to achieve that. Try to build powerful&nbsp;<br>workspace
                                with collaboration
                                of blender.</p>
                            <div class="mbr-section-btn item-footer"><a href="http://docs.ketivee.com"
                                    class="btn item-btn btn-primary display-7">Learn</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section data-bs-version="5.1" class="footer3 cid-uuqyYl83lS" once="footers" id="footer03-t">





        <div class="container">
            <div class="row">
                <div class="row-links">
                    <ul class="header-menu">




                        <li class="header-menu-item mbr-fonts-style display-5"><a href="https://docs.ketivee.com"
                                class="text-info">Docs</a></li>
                        <li class="header-menu-item mbr-fonts-style display-5"><a
                                href="privacy" class="text-info text-primary">Privacy</a>
                        </li>
                        <li class="header-menu-item mbr-fonts-style display-5"><a href="gallery"
                                class="text-info">Gallery</a>
                        </li>
                    </ul>
                </div>

                <div class="col-12 mt-4">
                    <div class="social-row">
                        <div class="soc-item">
                            <a href="https://www.facebook.com/ketivee" target="_blank">
                                <span class="mbr-iconfont display-7 socicon-facebook socicon"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://x.com/KetiveeIndia" target="_blank">
                                <span class="mbr-iconfont socicon-twitter socicon"
                                    style="color: rgb(165, 159, 241); fill: rgb(165, 159, 241);"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.instagram.com/ketiveeindia/" target="_blank">
                                <span class="mbr-iconfont socicon-instagram socicon"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://in.linkedin.com/company/ketiveeorg?trk=public_post_follow-view-profile"
                                target="_blank">
                                <span class="mbr-iconfont socicon-linkedin socicon"></span>
                            </a>
                        </div>
                        <div class="soc-item">
                            <a href="https://www.youtube.com/@ketivee" target="_blank">
                                <span class="mbr-iconfont socicon-youtube socicon"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-5">
                    <p class="mbr-fonts-style copyright display-7">
                        © Copyright 2025 ketivee - All Rights Reserved
                    </p>
                </div>
            </div>
        </div>
    </section>

    <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/parallax/jarallax.js"></script>
    <script src="assets/web/assets/cookies-alert-plugin/cookies-alert-core.js"></script>
    <script src="assets/web/assets/cookies-alert-plugin/cookies-alert-script.js"></script>
    <script src="assets/smoothscroll/smooth-scroll.js"></script>
    <script src="assets/ytplayer/index.js"></script>
    <script src="assets/dropdown/js/navbar-dropdown.js"></script>
    <script src="assets/vimeoplayer/player.js"></script>
    <script src="assets/mbr-switch-arrow/mbr-switch-arrow.js"></script>
    <script src="assets/theme/js/script.js"></script>


    <input name="cookieData" type="hidden" data-cookie-cookiesAlertType='false' data-cookie-customDialogSelector='null'
        data-cookie-colorText='#424a4d' data-cookie-colorBg='rgb(255, 255, 255)' data-cookie-opacityOverlay='0'
        data-cookie-bgOpacity='100' data-cookie-textButton='GOT IT' data-cookie-rejectText='REJECT'
        data-cookie-colorButton='' data-cookie-rejectColor='' data-cookie-colorLink='#424a4d'
        data-cookie-underlineLink='true'
        data-cookie-text="We use cookies to give you the best experience. Read our <a href='privacy.html'>cookie policy</a>.">
</body>

</html>