<link rel="stylesheet" href="css/signup.css">

<h2>Sign Up</h2>


<form action="/signup" method="POST" class="signup-form">
    <label for="name">Full Name:</label>
    <input type="text" id="name" name="name" required 
    placeholder=" swanaya gupta"">

    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required
    placeholder="swanayagupta">

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required
    placeholder="donation@ketivee.com">

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required
    placeholder="jgku+98+@#$%^&*()_+">

    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required
    placeholder="jgku+98+@#$%^&*()_+">

    <button type="submit">Sign Up</button>
</form>

<p class="login-link">Already have an account? <a href="/login">Login here</a></p>
